/*map styling*/
body {
  font-family: "Helvetica";
  margin: 0px;
  color: black;
}



form {
  padding: 5px;
}

input {
  margin: 5px;
}

#navBar{
  background-color: #065287;
  font-size: 20px;
}

.content-section {
  margin: 0px auto;
  padding: 10%;
}

.title {
  text-align: center;
}

.scroll-button {
  margin-left: 49%;
  margin-right: 49%;
}

.scroll-button:hover {
  text-decoration: none;
}
#searchPage {
  font-size: 20px;
  text-align: center;
  color: black;
  /*text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
}

.zipcode-error {
  opacity: 0.5;
  font-size: 14px;
  color: red;
}

.intro {
  background-color: gray;
  color: black;
}

.why-pinback {
  margin-left:1%;
  margin-right:1%;
}

input[type="text"], textarea {

  background-color : #d1d1d1; 

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right : 10px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.eventbox{
  background-color: #070707;
  border-radius: 5px;
  opacity: .80;
  min-height : 200px;
  margin-left: 20px;
  margin-top: 20px;
  border:2px solid black;
  color: white;
  padding: 5px;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#mapEvent{
  min-height: 50px;
}

.eventbox a {
  color: pink;
  text-shadow:
    0px 0px 0 #000,  
    0px 0px 0 #000,
    0px 0px 0 #000,
    0px 0px 0 #000;
}
.event ul {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.angular-leaflet-map {
  float: left;
  width: 45%;
  height: 100%;
}

.sidebar {
  overflow-x:scroll;
  float: right;
  color: white;
  width: 50%;
  height: 550px;
  margin-top: 1.2%;
  border: 1px solid white;
}


.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }

.btn {
 color: #ffffff;
 background-color: #000000;
 border-radius: 5px;
 border-width: 1px;
 margin: 5px;
 font-size: 15px;
}

.btn:hover {
  background-color: #2980b9;
}

.map-styles {
  border: 1px solid white;
  margin-top: 5%;
}
