<div id='container'>
  <div id = "navBar">
    <ul>
      <li><a href="#/search">Search</a></li>
      <li><a href="#/userEvents">My Events</a></li>
    </ul>
  </div>
</div>
<!-- div for map to render -->
<!-- <leaflet lf-center="center"  defaults = 'defaults' class='custom-popup' event-broadcast="events" layers = 'layers' markers="markers" width="100%" height="500px"></leaflet> -->
<leaflet geojson="geojson" width="100%" height="500px"></leaflet>

<div class="sidebar">
    <input ng-model="search" />
    <table ng-cloak class='table'>
      <tbody ng-repeat="venue in geojson.data.features">
          <td class='name'>{{venue.properties.name}}</td>
          <!-- <td class='shows'>{{venue.properties.events}}</td> -->
          <td class='shows' ng-repeat="event in venue.properties.events">
            <div>{{event.artists[0].name}}</div>
            <div>{{event.datetime}}</div>
          </td>
      </tbody>
</div>