<div id='container'>
<div class="map-header">
<a ng-click="goHome()"><img id="map-page-logo" src="./assets/pinback-logo-white.png" style="height:32px;"></a>
</div>


<!-- div for map to render -->
<leaflet class="map-styles" geojson="geojson" onEachFeature="onEachFeature" defaults = 'defaults' lf-center='center' width="50%" height="550" layers = 'layers'></leaflet>

<div class="sidebar">
    <input class="form-control mapInput"ng-model="search"/>
    <table ng-cloak class='table'>
      <tbody ng-repeat="venue in geojson.data.features">
          <td class='name'>{{venue.properties.name}}</td>
          <!-- <td class='shows'>{{venue.properties.events}}</td> -->
          <td class='shows'>
            <div ng-repeat="event in venue.properties.events">
              <div>{{event.artists[0].name}}</div>
              <div>{{event.datetime}}</div>
              <a href={{event.url}} target="_blank">{{event.url}}</a>
            </div>
            
          </td>
      </tbody>
</div>

