<div id='container'>
  <div id = "navBar">
    <ul>
      <li><a href="#/search">Search</a></li>
      <li><a href="#/userEvents">My Events</a></li>
    </ul>
  </div>
</div>
<!-- div for map to render -->
<leaflet lf-center="center"  defaults = 'defaults' class='custom-popup' event-broadcast="events" layers = 'layers' markers="markers" width="100%" height="500px"></leaflet>
<div class='events-bar' ng-show="reveal">
  <table class = 'eventbox' id="mapEvent" ng-repeat = 'event in data.showMarker'>
    <tr class = 'event'>
      <td class = 'name'> {{event.artists[0]['name']}}</td>
      <td class = 'date'> Time:  {{event['datetime']}}</td>
      <td class = 'date'> <a href = "{{event['url']}}">More Info</a></td>
      <td><input class = 'add' type = "submit" value = "add" ng-click = "addEvent(event)"/></td>
    </tr>
  </table>
</div>
<div>
<form role="form">
    <input ng-model="search.name">
    <!-- <select class="selectpicker" ng-model='search.Group' ng-options="city.Group as city.Group for city in football | unique:'Group' | orderBy:'Group'" fix>
      <option value="" selected="selected">-- All Groups --</option>
    </select> -->
  </form>
</div>
<table ng-cloak class='eventbox'>
   <thead>
      <tr class="foot">
         <th><a href="" ng-click="orderByField = 'name'; reverse=!reverse">Venues</a>
         </th>
         <th><a href="" ng-click="orderByField = 'shows'; reverse=!reverse">Shows</a>
         </th>
      </tr>
   </thead>
   <tbody>
      <tr class ='eventbox' ng-repeat="venue in markers | orderBy:orderByField:reverse | filter:search.name">
         <td class='name'>{{venue.name}}</td>
         <td class='shows' ng-repeat= "event in venue.events">
          <div>{{event.artists[0]['name']}}</div>
          <div>Time:  {{event['datetime']}}</div>
          <div class = 'date'> <a href = "{{event['url']}}">More Info</a></div>
          <input class = 'add' type = "submit" value = "add" ng-click = "addEvent(event)"/>
         </td>
      </tr>
   </tbody>
</table>