<div id='container'>

  <div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
   
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            <a class="navbar-brand page-scroll" ng-click="resetNav()" id="top-nav" href="#page-top">
                <img id="logo" src="./assets/pinback-logo-white.png" style="height:32px;">
            </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" ng-click="clickAbout()"ng-class="{'current': aboutUs}" href="#about">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" ng-click="clickTeam()"ng-class="{'current': team}"href="#download">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll contact-color" ng-click="clickContact()"ng-class="{'current': contactUs}" href="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <br><br><br>
    <!-- Intro Header -->
    <br><br><br>
    <header class="intro">
      <div class="intro-body jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title">
                  <img src="./assets/pinback-banner-1.png" style="width:646px;">
                  <p>Searching for concerts in your area has never been easier.</p>
                  <form novalidate name = "inputForm" id = "searchPage"><!--removes native form validation-->
                    <span>
                      <label for = "rawFromDate"> </label>
                      
                      <input type = "date" class = "formInput form-control" id = "rawFromDate" ng-model = "search.rawFromDate" /> to <input type = "date" class = "formInput form-control" ng-model = "search.rawToDate"/>
                      <br>
                      <label for = "zip"></label> <!--making a label using the id allows users to switch control to the input by clicking zip:-->
                      <input placeholder="zipcode"type = "text" class = "formInput form-control" id = "zip" ng-model = "search.zip" required name = "zip" ng-minlength = 5 ng-maxlength = 5 />
                      <div ng-messages = "inputForm.zip.$error" role = "alert">
                        <div class="zipcode-error" ng-message = "required">Please enter a zipcode
                        </div> <!--finds form sections marked as required and shows this message when they are empty-->
                        <div class="zipcode-error"ng-message = "minlength, maxlength">
                            Please enter a valid 5 digit zipcode
                        </div>
                      </div>
                      <input type = "submit" ng-click = "format(search)" class = "btn"/>
                    </span>
                  </form>
              </div>
              <br><br>                 
            </div>
          </div>
        </div>
      </div>
    </header>


    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row jumbotron">
            <div class="col-lg-8 col-lg-offset-2">
              <h1><b> <i>Why pinback? </b> </i></h1>
              <br>
              <p class="why-pinback">Searching for concerts in your area has never been easier. Searching for concerts in your area has never been easier. Searching for concerts in your area has never been easier. Searching for concerts in your area has never been easier. Searching for concerts in your area has never been easier. Searching for concerts in your area has never been easier.</p>
              <br>
            </div>
        </div>
    </section>


    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section jumbotron">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Meet the Team</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="contact-us col-lg-8 col-lg-offset-2">
                <h2>Contact Pinback</h2>
                <p>We are thrilled to continue building on a tool that brings easy access to amazing live shows everywhere. Please provide us with feedback!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@pinback.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>



</div>